form,input,div{
  margin:0;
  padding:0;
}
body{
  font-family:"Avenir Next";
}
li{
  list-style:none;
}
.header{
  background-color:#26d0c9;
  color:#fff;
  height: 90px;
}
.header-list li{
  float: left;
  padding: 33px 20px;
}
.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list{
  float: left;
}
.main{
  padding-top: 100px;
  padding-right: 80px;
  padding-left: 80px;
}
.copy-container h1{
  font-size: 140px;
}
.copy-container h2{
  font-size: 60px;
}
span{
  color:#ff4a4a;
}
.contents{
  height: 500;
  margin-top: 100px;
}
.section-title{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents-item{
  float: left;
  margin-left: 40px;
}
.contents-item p{
  font-size: 24px;
  margin-top: 30px;
}
.footer{
  background-color: #2f5167;
  color: #fff;
  height: 200px;
}
.footer-logo{
  font-size: 32px;
  padding-top: 40px;
  padding-left: 40px;
}
.footer-list{
  float: right;
  padding-top: 40px;
  padding-right: 40px;
}
.footer-list li{
  padding-bottom: 20px;
}
